<h1 class="heder"> Dobro dosli </h1>

<p class="paragraf">Naš cilj je sigurnost deteta u svakom smislu koji je neophodan za zdrav razvoj i sreću deteta.</p>
<p class="paragraf"> Ciljevi i zadaci utvrđeni su Opštim osnovama predškolskog programa.</p>

<div class="textual">
    <li> Vaspitno – obrazovni rad, preventivno – zdravstvena zaštita dece</li>
    <li> Poboljšanje kvaliteta života dece i stvaranje uslova za optimalan rast i razvoj</li>
    <li> Optimalna usklađenost razvojnih potreba dece i potreba porodice za njihovim zbrinjavanjem</li>
    <li> Maksimalno korišćenje kadrovskih, organizacionih i materijalnih potencijala</li>
    <li> Ustanove za pružanje pomoći roditeljima i porodicama u ostvarivanju njihovih vaspitnih funkcija</li>
    <li> Uvođenje novih dodatnih programa rada i usluga vrtića</li>
    <li> Nalazimo se u lepom delu Novog Sada poznatom kao naselje Telep </li>
</div>