<div id="image">
    <div class="container">
        <form>
            <H1>Budite slobodni da nas kontaktirate </H1>
            <input type="text" id="name" placeholder="Upišite svoje ime" required [(ngModel)]="model.name" name="name">
            <input type="email" id="email" placeholder="Upišite svoj e-mail" required [(ngModel)]="model.email" name="email">
            <input type="phone" placeholder="Upišite Vaš broj telefona" required [(ngModel)]="model.number" name="number">
             
            <textarea id="message" rows="5" placeholder="Ostavite Vašu poruku" [(ngModel)]="model.message" name="message"></textarea>

            <div *ngFor="let op of opcije">
                <input type="radio" name="pol"> {{op}}
            </div>

            <button type="submit">Pošalji</button>
        </form>
    </div>
</div>

{{model | json}}