<div id="image">
    <div class="container">
        <form>
            <H1>Budite slobodni da nas kontaktirate </H1>
            <input type="text" id="name" placeholder="Upišite svoje ime" required>
            <input type="email" id="email" placeholder="Upišite svoj e-mail" required>
            <input type="phone" placeholder="Upišite Vaš broj telefona" required>
             
            <textarea id="message" rows="5" placeholder="Ostavite Vašu poruku" ></textarea>
            <button type="submit">Pošalji</button>
        </form>
    </div>



</div>