.tarification {
  background-color: rgb(84, 66, 250);
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  border: 2px;
  margin: 5%;
  text-align: center;
  text-decoration: solid;
  padding-top: 50%;
  size: 50%;
  border-radius: 5%;
  size: 70%;
}


.gridContainer {
  display: grid;
  display: inline-grid;
  grid-template-columns: 30% 30% 30% 30%;
  grid-template-rows: 700px 700px 700px 700px;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 10%;
}

.button {

  background-color: rgb(37, 134, 179);
  margin-top: 20%;
  font-size: 25px;

}

.button:hover {
  background-color: #5746f3;
  color: white;
}

#background {
  background-color: rgb(57, 169, 235);
  background-size: contain;
  background-repeat: no-repeat;
}