<body style="background-color:rgb(67, 37, 201) ;" >
    <form class="container">
        <h1>Uloguj se</h1>
        <input autocomplete="off" id="username" name="username">
        <input autocomplete="off" id="password" type="password" placeholder="Password" name="password" ngModel>
        <div>
            <button class="button1" mat-flat-button type="submit" routerLink="/about-us">Uloguj se</button>
            <button class="button2" mat-flat-button routerLink="/register" >Registracija</button>
        </div>
    </form>
</body>
{{model | json}}
