<form class="body">
    <div class="forma">
    <br><label> Ime </label>
    <input type="text" [(ngModel)]="model.ime" name="ime">

    <br> <label> Prezime </label>
    <input type="text"  [(ngModel)]="model.prezime" name="prezime">

    <br> <label><b>Datum rodjenja</b></label>
    <input type="date" [(ngModel)]="model.datumRodjenja" name="Datum">

    <br> <label><b>Korisnicko Ime</b></label>
    <input type="text" [(ngModel)]="model.korisnickoIme" name="Korsnik">

    <br> <label><b>E-mail </b></label>
    <input type="email" [(ngModel)]="model.email" name="email">

    <br> <label><b>Unesi lozinku</b></label>
    <input type="password" [(ngModel)]="model.lozinka" name="lozinka">

    <br> <label><b>Ponovi lozinku</b></label>
    <input type="password" [(ngModel)]="model.lozinka2" name="lozinka2">

    <br><a routerLink="/login"> <input type="button" value="Registruj se" (click)="print()"></a>
    </div>
    <form>

{{model | json}}