.body {
    background: rgb(247, 161, 161);
    height: 1000px;
}

.forma {
    font-size: large;
    text-align: center;
    padding-top: 15%;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    border-radius: 25px;
    border: 0;
}
button{
    
    
}