label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.spans{
    width: 40%;
    padding-left:15%;
    padding-bottom: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.spans2{
    width: 60%;
    display:table-cell;
    vertical-align:top;
    padding-left: 18%;
    padding-top: 7%;
}

#meni{
    height: 100px;
    width: 100%;
    display:table;
}

.button1{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5px 3px;
    cursor: pointer;
}

.button1:hover {
    background-color: #093f0b;
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 3px 1px;
    cursor: pointer;
}
.button2{
    
  width: 30%;
  height: 50px;
  line-height: 30px;
  font-size: 20px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 3px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  position: relative;
  z-index: 2;
}
.button2:hover {
     background-color: #093f0b;
    border: none;
    color:whitesmoke;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin: 3px 1px;
    cursor:default;
    


   
 
   
}
