<div id="meni">
    <img src="https://iili.io/HaO6DXt.md.jpg" alt="HaO6DXt.md.jpg">
    <span class="spans">
        <button class="button1" (click)="goToFrontPage()">Pocetna stranica </button>
        <button class="button1" (click)="goToAboutUs()">Nesto o nama </button>
        <button class="button1" (click)="goToContact()">Kontaktirajte nas </button>
        <button class="button1" (click)="goToGrupe()" >Grupe</button>
    </span>
    <span class="spans2">
        <button class="button2" (click)="goToLogin()">Uloguj Se </button>
        <button class="button2" (click)="goToRegitration()">Registracija </button>
    </span>
</div>
