<div class="example-container">

    <mat-form-field appearance="fill">
        <mat-label>Unesite svoje ime;</mat-label>
        <input matInput placeholder="Petar" [(ngModel)]="ime" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Unesite svoje prezime</mat-label>
        <input matInput placeholder="Petrovic" [(ngModel)]="prezime" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Unesite svoje korisnicko ime</mat-label>
        <input matInput placeholder="petar123" [(ngModel)]="korisnickoIme" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [(ngModel)]="email" required>
    </mat-form-field>

    <!--   
        <mat-label>Izaberite datum rodjena</mat-label>      
 
        <input matInput [matDatepicker]="picker2" [(ngModel)]="datumRodjenja">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
-->
    <div class="example-container">

        <mat-form-field appearance="fill">
            <mat-label>Unesite Lozinku</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
        </mat-form-field>

        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-form-field appearance="fill">
            <mat-label>Ponovo ukucajte Lozinku</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
        </mat-form-field>

        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <div *ngFor="let op of opcije">
            <input type="radio" name="pol"> {{op}}
        </div>
        
    </div>
</div>